<div class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
        <a [routerLink]="['/']" class="navbar-brand" routerLinkActive="router-link-active" >Movie App</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/dashboard']"   class="nav-link">dashboard</a>
            </li>
            <li class="nav-item">
                    <a [routerLink]="['/movies']"   class="nav-link">movies</a>
            </li>
        </ul>
    </div>
</div>