<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8 mt-5">
            <navbar></navbar>
            
            <router-outlet></router-outlet>

            <logging></logging>
        </div>
    </div>
</div>